/* rest css */
html, body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: grey;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    padding-left: 10px;
}

nav {
    padding-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    width: 1366px;
    margin: 0 auto;
}